/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALPHA 0
#define NUMFN 1
#define SYMBL 2
#define NAVVL 3

/ {    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_enter {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp ENTER>;
        };
    };
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp C_NEXT>, <&kp C_PREV>, <&kp C_MUTE>;
        };
    };
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            bindings = <
                &kp Q       &kp W       &kp E       &kp R          &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp A       &kp S       &kp D       &kp F          &kp G       &kp H       &kp J       &kp K       &kp L       &kp APOS
                &mt LSHFT Z &kp X       &kp C       &kp V          &kp B       &kp N       &kp M       &kp COMMA   &mt RSHFT DOT
                                        &kp LGUI    &mt LCTRL DEL  &lt 1 SPACE &lt 2 BSPC  &kp SLASH
            >;
        };
		
        NUMFN {
            bindings = <
                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT   &kp CARET   &kp AMPS    &kp STAR    &kp LPAR    &kp RPAR
                &kp LSHFT   &kp TAB     &kp LALT    &kp DEL     &kp DOT     &kp LBKT    &kp RBKT    &kp MINUS   &kp EQUAL
                                        &trans      &trans      &trans      &trans      &kp SEMI
            >;
        };
		
        SYMBL {
            bindings = <
                &mo 3       &trans      &trans      &kp F4      &trans         &kp GRAVE      &kp HOME     &kp UP       &kp END      &kp PG_UP
                &trans      &trans      &trans      &trans      &trans         &trans         &kp LEFT     &kp DOWN     &kp RIGHT    &kp PG_DN
                &trans      &trans      &trans      &trans      &kp LG(LS(S))  &td0           &kp C_VOL_DN &kp C_VOL_UP &kp C_PP
                                        &trans      &trans      &trans         &trans         &trans
            >;
        };
		
        NAVVL {
            bindings = <
                &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR  &trans      &trans      &trans      &bootloader
                &trans      &trans        &trans        &trans        &trans        &trans      &trans      &trans      &trans      &trans
                &trans      &trans        &trans        &trans        &trans        &trans      &trans      &trans      &trans
                                          &trans        &trans        &trans        &trans      &trans
            >;
        };
    };
};